.container {
	z-index: 10;
	padding: 0.5rem 1rem;
	background-color: rgb(193, 193, 193);
	border-radius: 1rem;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.583);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.fail {
	color: brown;
	text-shadow: 1px 1px 2px gray;
	outline: 1px solid brown;
	background-color: rgba(165, 42, 42, 0.093);
	padding: 6px;
	text-transform: uppercase;
	position: absolute;
	transform: rotateZ(-20deg);
	z-index: -1;
	top: 40%;
	left: 30%;
}

.authinput {
	opacity: 70%;
	display: flex;
	column-gap: 5px;
	align-items: center;
}

.signup {
	color: rgba(74, 74, 74, 0.546);
	cursor: pointer;
}

.signup:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
	color: rgb(49, 49, 49);
}
